.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  
  .subCategoryPage {
    /* Your styles for the subCategoryPage */
  }
  
  .resourceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .subcategoryGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  @media screen and (min-width: 480px) {
    .subcategoryGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 768px) {
    .subcategoryGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  